<div class="menu-container">
  
  <div class="card-header col-md-12 text-center">

    <h2>
      {{article.article_title}}
    </h2>
  </div>
  <div class="article-stats">

    <p>
      Article number: {{article.id}}<br>
      Creation date: {{article.article_createDate}}
    </p>
  </div>
  <div class="article-content">
    <p>
      {{article.article_content}}
    </p>
  </div>
  {{!-- **********Make this conditional. If it's your aricle... --}}
  <a href="edit/{{article.id}}">Edit article</a>
  {{!-- **********Make this conditional. If it's your aricle... --}}
  {{!-- <a href="/comment/{{article.id}}"> Comment</a> ******Add comment route --}}
</div>

{{!-- 
<script src="/js/add-article.js"></script> --}}
