<div class="menu-container">
  <div class="card-header col-md-12">
    <h2>
      {{article.article_title}}
    </h2>
  </div>
  <div class="article-stats">
    <p>Article author: {{article.user.name}}</p>
    <p id="article-number">Article number: {{article.id}}</p>
    <p>Creation date: {{format_date article.article_createDate}}</p> 
    </p>
  </div>
  <div class="article-content">
    <p>
      {{article.article_content}}
    </p>

  </div>
  {{#if articleAuthor}}
    <p><a href="edit/{{article.id}}">Edit article</a></p>
    {{!-- <p id="delete-article">Delete article</p> --}}
    <button id="delete-article" class="btn btn-sm btn-danger" data-id="{{article.id}}">DELETE</button>
  {{/if}}

  <h2>Comments</h2>
  {{#if article.comments}}
    <div class="comment-area">
    {{#each article.comments as |comment|}}
        <div class="comment-individual">
          <p>{{format_date comment_createDate}}</p>  
          <p>{{comment_content}}</p>
        </div>
    </div>
    {{/each}}
  {{else}}
    <p>There are no comments for this article.</p>
  {{/if}}
  <p><a href="/addcomment/{{article.id}}">Add comment</a></p>  
 </div>

<script src="/js/article.js"></script>