<div class="menu-container">

  <div class="card">
    <div class="card-header col-md-12">
      <h2>{{article.article_title}}</h2>
      <p>{{article.user.name}}, {{format_date article.article_createDate}}</p>
      <p id="article-number" style="display:none">{{article.id}}</p>
{{#if articleAuthor}}
      <a href="edit/{{article.id}}">
        <button id="edit-article" class="btn btn-sm btn-info">Edit article</button>
      </a> 
      <button id="delete-article" class="btn btn-sm btn-danger" data-id="{{article.id}}">Delete Article</button>
{{/if}}
    </div>
    <div class="article-content">
      <div class="content-section">
        <p>{{article.article_content}}</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header col-md-12">
      <h2>Comments</h2>
      <a href="/addcomment/{{article.id}}">
        <button id="add-comment" class="btn btn-sm btn-info">Add Comment</button>
     </a>
    </div>
{{#if article.comments}}   
    <div class="comment-area">
{{#each article.comments as |comment|}}
      <div class="content-section">
        <p>{{format_date comment_createDate}}</p>  
        <p>{{comment_content}}</p>
      </div>
{{/each}}
    </div>
{{else}}
    <p>There are no comments for this article.</p>
{{/if}}
  </div>
</div>

<script src="/js/article.js"></script>